<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form action="#" method='post'>
	@csrf
	<input type="text" value="package" placeholder="package"><br><br>
	<input type="text" value="price" placeholder="price"><br><br>
	<input type="submit" value="insert"/>
</form>
</body>
</html>